/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.likert li {
  float: left;
  list-style-type: none;
}

canvas {
  width: 400px;
  height: 400px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #605FA4;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #553549;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #F3B73B;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #F3B73B;
}

.hljs-literal {
  color: #F3B73B;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #F3B73B;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #D989BC;
}


.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #F3B73B;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
